PORT=3000
IMAP_EMAIL_1=rangasaimangalagiri@gmail.com
IMAP_PASS_1=Sunrisershyd
IMAP_EMAIL_2=sirimangalagiri001@gmail.com
IMAP_PASS_2=
ELASTICSEARCH_HOST=https://my-elasticsearch-project-c97e14.es.us-central1.gcp.elastic.cloud:443
ELASTIC_API_KEY=SEZIdy1wa0JSaWdPbnpnMzQzNEY6ZUZ6QzhjWmYzUTNEdFIxeFdCSHNIUQ==
OPENAI_API_KEY=
SLACK_WEBHOOK_URL=
WEBHOOK_SITE_URL=
